<h1>Add a new item</h1>

<form>
  <div>
    <label>Link URL</label>
    <input type="text">
  </div>
  <div>
    <label>Link Description</label>
    <input type="text">
  </div>
  <div>
    <label>Thumbnail URL</label>
    <input type="text">
  </div>

  <button>Create item</button>
</form>
