<h1>Add a new item</h1>

<form action="/make_a_new_item" method="post">
  <div>
    <label for="zebra">Link URL</label>
    <input id="zebra" type="text" name="link_url_param" >
  </div>
  <div>
    <label for="puma">Link Description</label>
    <input id="puma" type="text" name="link_description_param">
  </div>
  <div>
    <label for="jaguar">Thumbnail URL</label>
    <input id="jaguar" type="text" name="thumbnail_url_param">
  </div>

  <button>Create item</button>
</form>
